<section id="contact" class="py-5">
  <div class="container">
    
    <div class="mb-5">
      <div class="text-uppercase small text-success fw-bold mb-1">Let's Connect</div>
      <h2>
        <span class="border-bottom border-3 border-success pb-2">Contact Me</span>
      </h2>
    </div>

    <div class="row g-4">
      
      {{#each contact.cards}}
      <div class="col-sm-6 col-lg-4 col-xl">
        <div class="card h-100 shadow-sm border-0 bg-body-tertiary hover-lift transition-all">
          <div class="card-body p-4 text-center">
            
            <div class="mb-3 text-success">
              <i class="{{this.icon}} fa-2x"></i>
            </div>
            
            <h5 class="card-title fw-bold text-body-emphasis">{{this.title}}</h5>
            
            {{#if this.link}}
            <a href="{{this.link}}" target="{{this.target}}" class="text-decoration-none text-body-secondary stretched-link small text-break">
              {{this.text}}
            </a>
            {{else}}
            <span class="text-body-secondary small">
              {{this.text}}
            </span>
            {{/if}}

          </div>
        </div>
      </div>
      {{/each}}

    </div>
  </div>
</section>