<footer class="py-4">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        <p class="mb-0">
          &copy; {{currentYear}} Brian Cabello. All rights reserved.
        </p>
      </div>

      <div class="col-md-6 text-center text-md-end">
        <a href="{{contact.linkedin}}" target="_blank" class="mx-2">
          <i class="fa-brands fa-linkedin-in fs-5"></i>
        </a>

        <a href="mailto:{{contact.email}}" class="mx-2">
          <i class="fa-solid fa-envelope fs-5"></i>
        </a>

        <a href="{{contact.github}}" target="_blank" class="mx-2">
          <i class="fa-brands fa-github fs-5"></i>
        </a>
      </div>

    </div>
  </div>
</footer>